html{
  background-color:#0E0E0E;
  color:white;
}

body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

header{
  background-color: #0E0E0E;
  padding: 10px 20px 0px 20px;
  display: block;
  transition-duration: 1s;
}

h1{
  font-family: Impact;
  font-size: 450%;
  background-image: url("../images/barre.png");
  background-size: 550px 30px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow:#0E0E0E 5px 5px,#0E0E0E -5px 5px,#0E0E0E -5px -5px,#0E0E0E 5px -5px;
  margin: 0px 0px 20px 0px;
}

h2{
  font-size: 400%;
  font-family: Impact;
  text-shadow:#0A0A0A 6px 6px,#0A0A0A -6px 6px,#0A0A0A -6px -6px,#0A0A0A 6px -6px;
}


p{
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
}

table{
  width: 100%;
}

/* --------------------------------------------------------------- */

/* animation des perso par des slides fondu */

.animation_avatar{
  padding: 0px;
}

/* perso du côté gauche */
#avatar_td_1{
  padding: 0px;
  text-align: left;
}

#avatar_td_2{
  padding: 0px;
  text-align: left;
}

#avatar_1,#avatar_2{
  margin:0px;
  display: inline-block;
  width: 100px;
  height: 73px;
  background-image: url("../images/animation_avatar/1_gauche.png");
  background-repeat: no-repeat;
  animation-name: diapo1;
  animation-duration: 8s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes diapo1 {
  0%{
    background-image: url("../images/animation_avatar/1_gauche.png");
  }
  25%{
    background-image: url("../images/animation_avatar/2_gauche.png");
  }
  50%{
    background-image: url("../images/animation_avatar/3_gauche.png");
  }
  75%{
    background-image: url("../images/animation_avatar/4_gauche.png");
  }


}

/* perso côté droit */

#avatar_td_3{
  padding: 0px;
  text-align: right;
}

#avatar_td_4{
  padding: 0px;
  text-align: right;
}

#avatar_3, #avatar_4{
  margin:0px;
  display: inline-block;
  width: 100px;
  height: 73px;
  background-image: url("../images/animation_avatar/1_droite.png");
  background-repeat: no-repeat;
  animation-name: diapo;
  animation-duration: 6s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes diapo {
  0%{
    background-image: url("../images/animation_avatar/1_droite.png");
  }
  33%{
    background-image: url("../images/animation_avatar/2_droite.png");
  }
  66%{
    background-image: url("../images/animation_avatar/3_droite.png");
  }

}

#connexion{
  width:100%;
  margin:auto;
  padding-top: 30px;
  height: 800px;
}

/* formulaire de connexion */

.box{
  width: 95%;
  padding: 40px;
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translate(-50%,-30%);
  background: #191919;
  text-align: center;
  border: 3px solid white;
  background-image: url(../images/epeeReduit.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center right;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5f6263;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 1s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #d1bd21;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #d1bd21;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 1s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #d1bd21;
}

/* --------------------------------------------------------------- */


footer{
  background-color: #0A0A0A;
  margin: 0px;
  width: 100%;
  height: 540px;
  text-align: center;
}

/* --------------------------------------------------------------- */

/* "menu déroulant" pour linkedin */

#contact > ul{
  margin:0px;
  padding: 0px;
}

#contact > ul :: after{
  content: "";
  display: block;
  clear: both;
}

#contact > ul > li{
  float: center;
  position: relative;
}


#contact li{
  list-style-type:none;
}

.submenu{
  display: none;
}

#contact a{
  display: inline-block;
  text-decoration: none;
}

#contact li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 54%;
  padding: 0px;
  z-index: 1000;
}

.submenu li{
  border-bottom: 1px solid white;
}

.submenu li a{
  padding: 5px 0px;
  font-size: 13px;
  width: 150px;
  color: white;
}

/* remonter au début de la page */

#fleche{
  padding: 5px;
}
